
.active-navbar {
	color: #ffe0b3;
}

body {
	background-color: #ffe0b3;
}

.coolguyimage{
	height: 200px;
	background: #aaa;
}

.ul {
	background-color: #e6f2ff
	border: 1px solid #e7e7e7;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
}